<ul >
  {{#events}}
    <!--<li>
        <h2>{{ title }}</h2>
        <p>{{description}}</p>
        <p><a href="#">Like</a>
    </li>-->
    <table>
        <h2>{{title}}</h2>
        <a href="google.com">Like</a>
        <tr>
            <td>{{description}}</td>
        </tr>
    </table>
  {{/events}}
</ul>